// ============= Global styles =============
*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;

  width: 100%;
}

button {
  all: unset;
}

// ============= Slider styles ==============
.sliderContainer {
  width: 100%;
  height: 100%;

  position: relative;
}

.imagesWrapper {
  width: 100%;
  height: 100%;

  display: flex;

  overflow: hidden;
}

.imgSlider {
  object-fit: cover;

  flex-shrink: 0;
  flex-grow: 0;

  transition: translate 300ms ease-in-out;
}

.navigateArrowBtn {
  position: absolute;
  top: 0;
  bottom: 0;

  padding: 1rem;

  cursor: pointer;

  z-index: 100;

  transition: background-color 100ms ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:hover > *,
  &:focus-visible > * {
    animation: squish 300ms ease-in-out;
  }
}

@keyframes squish {
  50% {
    scale: 1.4 0.7;
  }
}

.navigateArrowBtn > * {
  width: 2rem;
  height: 2rem;

  stroke: #dadadab7;
  fill: #6d6d6db7;
}

// Dots styles
.navigateDotsWrapper {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  translate: -50%;

  display: flex;
  gap: 0.25rem;
}

.navigateDot > * {
  width: 1rem;
  height: 1rem;

  stroke: white;
  fill: black;
}

.navigateDot {
  cursor: pointer;

  transition: scale 100ms ease-in-out;

  &:hover,
  &:focus-visible {
    scale: 1.2;
  }
}

// Lines styles
// .navigateDotsWrapper {
//   position: absolute;
//   bottom: 1rem;
//   left: 50%;
//   translate: -50%;

//   display: flex;
//   gap: 0.5rem;
// }

// .navigateDot {
//   cursor: pointer;

//   transition: scale 100ms ease-in-out;

//   &:hover,
//   &:focus-visible {
//     scale: 1.2;
//   }
// }

// .dotChecked {
//   width: 2rem;
//   height: 0.3rem;

//   border: 1px solid #ffffffa6;
//   border-radius: 20%;
//   background-color: #dadadab7;
// }

// .dotUnchecked {
//   width: 2rem;
//   height: 0.25rem;

//   border: 1px solid #ffffffa6;
//   border-radius: 20%;
//   background-color: #6d6d6db7;
// }

// .navigateDotsWrapper:focus-visible,
// .navigateDot:focus-visible {
//   outline: auto;
// }
